
@media screen and (max-width:500px) {
    .bottombar{
        height:8vh;
        width:100%;
        background-color:black;
        position:absolute;
        bottom:0;
    }
    .bottombar ul {
        display: flex;
        justify-content: space-between;
        width:100%;
        height:100%;
       list-style: none;
        font-size:1rem;
        align-items: center;
    }
  
    .bottombar ul li {
        list-style: none;
    }
    .bottombar ul li :hover {
        color:rgba(255, 0, 0, 0.678);
    }

    .bottombar img{
        height:6vh;
        width:80px;
    }
}
@media screen and (min-width:500px) {
   .bottombar{display:none} ;
}