
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&family=Suez+One&family=Varela+Round&display=swap');
.mainplayer{
    width:100%;
    height:91vh;
    background: hsla(0, 0%, 0%, 1);
    background: linear-gradient(90deg, hsla(0, 0%, 0%, 0.938) 50%, hsla(236, 100%, 16%, 0.9) 100%);
    background: -moz-linear-gradient(90deg, hsla(0, 0%, 0%, 0.938) 50%, hsla(236, 98%, 16%, 0.9) 100%);
    background: -webkit-linear-gradient(90deg, hsla(0, 0%, 0%, 0.938) 50%, hsla(237, 95%, 15%, 0.9) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#0611A3", GradientType=1 );
    grid-gap:10px;
    overflow-y:scroll;
    overflow-x: hidden;
    direction: ltr;
    /* scrollbar-width: none; */
}


.mainplayer::-webkit-scrollbar,.arrange::-webkit-scrollbar,.arrange1::-webkit-scrollbar {
    display: none;
  }




  .carousel{
    height:60vh;
    margin-top:2%;
}

.carousel-images-container{
    
    /* height:60vh; */
}
 
.carousel-images-container img{

    position:'absolute';
    top:-15%;
    left:2.5%;
   
} 


/* .banner h1{
    margin:3% 0 0 7%;
    font-size: 3.5rem;
    font-family: 'Varela Round', sans-serif;
    color:white;
    font-size: 3rem;
    position:absolute;
    z-index:4;
} */
/* .banner span{
    color:rgba(255, 0, 0, 0.678);
    font-family: 'Varela Round', sans-serif;} */

/* .banner-overlay{
    height:100%;
    width:100%;
    position:absolute;
    top:0;
    z-index:3;
    /* background-color: black; */
    /* opacity:0.7;
} */ 
.arrange{
    display:grid;
    grid-template-columns:repeat(10,32vh);
    grid-gap:5px;
    /* background-color: black; */
    margin:10px 5vh 10px 5vh;
    overflow-x:scroll;
    height:40vh;
   
    /* overflow-x: scroll; */
}


.box{
    /* margin:10px 8px 20px 8px; */
    width:30vh;
    height:38vh; 
    border-radius:20px;
    /* -moz-box-shadow: 0 0 5px white;
    -webkit-box-shadow: 0 0 5px white; */
  
}

.box:hover{
    background-color: rgba(0, 0, 0, 0.397);
    opacity:1.2;
    cursor:pointer;
}

.box img{
    width:28vh;
    height:26vh;
    margin-top:4%;
    margin-left:5%;
    opacity:1.5; 
    border-radius:20px;
    margin-left:3%;
}
.box a {
    text-decoration: none;
    color:white;

}
.title{width:5fr;
color:white;
/* background-color: black; */
height:10vh;
margin: 20px 10px 10px 7px;
text-align:center;
font-size:8vh;
padding:10px;
}

.box h4{
    text-align: center;
    font-size: larger;
    color:white;
}
/* .arrange2{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr ;
    background-color: black;
    margin:10px 10px 10px 7px;
} */
.loader{
  position:relative;
  margin:20px -100px;
    
}

.playlistspopup{
    height:60vh;
    width:75%;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
    position:absolute;
    top:100px;
    left:200px;
    color:white;   
}
.playlistspopup h1{
    cursor: pointer;}
    .arrange1{
        display:grid;
        grid-template-columns:repeat(10,30vh);
        grid-gap:20px;
        background-color: black;
        margin:0 2vh 10px 2vh;
        overflow-x:scroll;
        height:32vh;
        width:100%;
       
    }

   
@media screen and (max-width:500px){
    .carousel{
        height:30vh;
    }

    .carousel-images-container{

        height:35vh;
    }

    .carousel-images{
        position:'absolute';
        top:0px;
        left:10px;
    }
    .banner h1{
        margin:3% 0 0 7%;
       
        font-family: 'Varela Round', sans-serif;
        color:white;
        font-size: 2rem;
        position:absolute;
        z-index:4;
    }
    .box{
   
        width:33vh;
        height:36vh; 

   
    }

    .banner-overlay{
        height:30vh;
        width:100%;
        position:absolute;
       top:0;
        z-index:3;
        background-color: black;
        opacity:0.7;
    }
    .mainplayer{
     width:100%;
    height:90vh;
    background-color: #121212;
    display:grid;
    grid-template-rows:30vh 10vh ;
    grid-gap:10px;
    overflow-y:scroll;    

    }

.banner{
    width: 100vw;
    background-position-y: -40px;
    background-repeat: no-repeat;
    background-size: cover;
    margin: auto;
    opacity: 1;
    height:30vh;
    }
    .title{width:100%;
        color:white;
        background-color: black;
        height:6vh;
        margin: 0 10px 0 7px;
        text-align: left;
        font-size: 1.4rem;
        padding-left:50px
        }

    .empty-player{
        display: none;
      
    }
    .arrange{
        display:grid;
        grid-template-columns:repeat(10,30vh);
        grid-gap:25px;
        background-color: black;
        margin:0 2vh 10px 2vh;
        overflow-x:scroll;
        height:38vh;
        width:100%;
    
    }
    
    .title:hover{
        color:rgba(255, 0, 0, 0.678);

    }

    .empty-player{
        height:13vh;
        background-color: rgba(0, 0, 0, 0.897);
    }

    
    }

    .empty-player{
        height:9vh;
        background-color: rgba(0, 0, 0, 0.897);
    }

    