
.player{
    width:100%;
    height:10vh;
    background-image: linear-gradient(360deg, #000000 0%, #434343 74%);
    background-color: #000000;
    position:absolute;top:90vh;
    overflow:hidden;
    z-index:2;
}

@media screen and (max-width:500px) {
    .player{
        width:100%;
        height:10vh;
        background-color: #000000;
        background-image: linear-gradient(360deg, #000000 0%, #434343 74%);

        position:absolute;top:83vh;
    }

}