*{
    margin:0;
    padding:0;
}

.sidebar{
    width:100%;
    height:91vh;
    background-color:#000000;
    overflow: auto;
    cursor:pointer;
}

.sidebar ul{
    margin-top: 50px;
}



/* .sidebar ul li {font-size: 1.5rem;
    padding:8px 30px;
list-style:none;} */

.sidebar h4{
       font-size:1rem;
       padding:10px 0;
       display: block;
      color: white;
}
/* .sidebar h6{
    font-size:1rem;
    padding:5px 30px;
    display: block;
   color: white;
} */
.sidebar  a{
    display: block;
    text-decoration: none;
    color:white;
}
/* .sidebar a:hover{
    transition: 1.5sec;
    color:rgba(255, 0, 0, 0.678);
    background:#191414;
   
    opacity:1.2;
}  */


.my-playlist-songs-sidebar{

    height:4vh;
}
/* .my-playlist-songs-sidebar h4{
    font-size:1.5rem;
} */




/* .my-playlist-songs-sidebar h4:hover{
    color:rgba(255, 0, 0, 0.678);
    cursor:pointer;
} */
@media screen and (max-width:500px){

    .sidebar{
        display:none;
    }
}