.this-song-middle{
    width:100%;
    height:91vh;
    background-color: #000000;
background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    grid-gap:10px;
    overflow-y:hidden;
    overflow-x:hidden;
    display:grid;
    grid-template-columns:1fr 3.6fr;
  
}

.current-song{
    background-color: #000000;
background-image: linear-gradient(360deg, #000000 0%, #434343 74%);
    height:91vh;
    width:100%
}
.this-song-middle::-webkit-scrollbar {
    display: none;
  }
  
.current-song img{

margin:5% 25%;
height:60vh;
width:40%;
opacity:1;

}
.current-song button{
   color:red;
   height:50px;
   width:50px;
   background-color: #000000;
   background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
   border:0;
    margin:0 100px;
    position:absolute;
    right:40%;
    top:80%;
    cursor:pointer;
}
.song-name{
    position:absolute;
    top:75%;
 left:36.5%;
 border-left:solid 5px rgba(255, 0, 0, 0.678);
    color:white;
    font-size:1.2rem;
}
.current-song h1{
    background-color: black;
    margin:auto;
    padding:20px 105px;
}
.loader{
    position:absolute;
    top:40%;
    right:50%;
}

.no-icon{
    display:none;
}

@media screen and (max-width:500px){
  
    .song-name{
        position:absolute;
        top:55%;
     left:7.5%;
     border-left:solid 5px rgba(255, 0, 0, 0.678);
        color:white;
        font-size:1.2rem;
    }
    .current-song button{
        color:red;
        height:50px;
        width:50px;
        background-color: #000000;
        background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
        border:0;
         margin:0 100px;
         position:absolute;
         right:10%;
         top:60%;
         cursor:pointer;
         overflow-x:hidden;
     }

    .current-song button{

        margin:0 120px;
    }
    .this-song-middle{
        width:100%;
        background-color: #000000;
        background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
        height:75vh;
        grid-gap:10px;
        overflow-y:hidden;  
    }

    .current-song img{
        margin: 10% 5%;
        height: 40vh;
        width: 90%;
        opacity: 1;
        

        }
}

@media screen and (min-width:768px)and (max-width:1024px){
    .current-song img{
        margin: 10% 5%;
        height: 40vh;
        width: 90%;
        opacity: 1;
        

        }

}