*{
    margin: 0;
    padding: 0;
    
}

header{
    background-image: linear-gradient(to right bottom, rgba(0,.0,.0,.5), rgba(0,.0,.0,.5)), url(static/1760753.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul{
    float: right; 
    list-style-type: disc;

}

ul li{
    display: inline-block;
    font-size: larger;
    margin-top: 20px;  
}

ul li a{
    text-decoration: dashed;
    color:azure;
    padding: 5px 20px;
    border: 1px solid azure;
    transition: 0.6s ease-in;
}

ul li a:hover{
    background-color: rgb(252, 249, 249);
    color: black;
}

.logo img{
    float: left;
    width: 50px;
    height: auto;
    margin-left: 20px;
    margin-top: 15px;
}


ul li.active a{
    background-color: azure;
    color: black;
    
}

.d{
    margin-right: 20px;
}


.title{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title h1{
    color: rgb(255, 255, 255);
    font-size: 70px;

}

.button{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
}
.btn{
    border: 1px solid rgb(253, 255, 255);
    padding: 10px 30px;
    color: cornsilk;
    text-decoration: none;
    transition: 0.6s ease-in-out;
}

.btn:hover{
        background-color: azure;
        color: black;
    
}


