{{>start}}
<section id="home">
    <div class="home__container">
        <div class="home__sub">
            <h1 class="hero-head">URL Pinger</h1>
           
                <label for="url" class="hero__label">Website Url seperated with (,): </label>
                <div class="input__container">
                    <input type="text" name="url" id="url" placeholder="Enter urls seperated with (,)" class="hero__input" required>
                    <div class="loader display"></div>
                    <input type="button" value="Submit" class="btn">
                </div>
          
        </div>
    </div>
</section>
    <section class="details get">
        
    </section>

{{>end}}