.Failure {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-size: 1.3rem;
    color: red;
}

.Failure img {
    height: 300px;
    width: auto;
}